{% extends "base.html" %}
{% block title %}Nova senha | ProjectFlow{% endblock %}
{% block content %}
<div class="auth-card">
  <div class="brand big">⚡ ProjectFlow</div>
  <h1>Criar nova senha</h1>
  <p>Use pelo menos 10 caracteres, com letra maiúscula, minúscula, número e caractere especial.</p>

  <form method="post" class="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>
      Nova senha
      <input type="password" id="password" name="password" required minlength="10" autocomplete="new-password">
    </label>

<div class="password-strength" data-password-strength>
  <div class="strength-bar">
    <span class="strength-fill"></span>
  </div>
  <div class="strength-meta">
    <span class="strength-label">Força da senha: <strong>Muito fraca</strong></span>
    <span class="strength-score">0/5</span>
  </div>
  <ul class="password-rules">
    <li data-rule="length">Pelo menos 10 caracteres</li>
    <li data-rule="upper">1 letra maiúscula</li>
    <li data-rule="lower">1 letra minúscula</li>
    <li data-rule="number">1 número</li>
    <li data-rule="special">1 caractere especial</li>
  </ul>
</div>


    <label>
      Confirmar nova senha
      <input type="password" name="confirm_password" required minlength="10" autocomplete="new-password">
    </label>

    <button class="btn primary" type="submit">Alterar senha</button>
  </form>
</div>
{% endblock %}
